[submodule "plato"]
	path = plato
	url = https://github.com/cdiggins/plato
[submodule "domo"]
	path = domo
	url = https://github.com/ara3d/domo
[submodule "geometry"]
	path = geometry
	url = https://github.com/ara3d/geometry
[submodule "mathematics"]
	path = mathematics
	url = https://github.com/ara3d/mathematics
[submodule "collections"]
	path = collections
	url = https://github.com/ara3d/collections
[submodule "geometry-toolkit"]
	path = geometry-toolkit
	url = https://github.com/ara3d/geometry-toolkit
[submodule "Plato.Geometry"]
	path = Plato.Geometry
	url = https://github.com/ara3d/Plato.Geometry
[submodule "IFC-toolkit"]
	path = IFC-toolkit
	url = https://github.com/ara3d/IFC-toolkit
[submodule "revit-utils"]
	path = revit-utils
	url = https://github.com/ara3d/revit-utils
[submodule "f8"]
	path = f8
	url = https://github.com/ara3d/f8
