[submodule "plato"]
	path = plato
	url = https://github.com/cdiggins/plato
[submodule "parakeet"]
	path = parakeet
	url = https://github.com/ara3d/parakeet
[submodule "domo"]
	path = domo
	url = https://github.com/ara3d/domo
[submodule "bowerbird"]
	path = bowerbird
	url = https://github.com/ara3d/bowerbird
[submodule "geometry"]
	path = geometry
	url = https://github.com/ara3d/geometry
[submodule "mathematics"]
	path = mathematics
	url = https://github.com/ara3d/mathematics
[submodule "utils"]
	path = utils
	url = https://github.com/ara3d/utils
[submodule "collections"]
	path = collections
	url = https://github.com/ara3d/collections
[submodule "AICodingCoach"]
	path = AICodingCoach
	url = https://github.com/ara3d/AICodingCoach
[submodule "geometry-toolkit"]
	path = geometry-toolkit
	url = https://github.com/ara3d/geometry-toolkit
[submodule "Plato.Geometry"]
	path = Plato.Geometry
	url = https://github.com/ara3d/Plato.Geometry
[submodule "IFC-toolkit"]
	path = IFC-toolkit
	url = https://github.com/ara3d/IFC-toolkit
